html { 
  background: url(logo.jpg) no-repeat center top fixed, url(ramp.jpg) no-repeat center top fixed;
  -webkit-background-size: 327px 230px, cover;
  -moz-background-size: 327px 230px, cover;
  -o-background-size: 327px 230px, cover;
  background-size: 327px 230px, cover;
}

#social {
	border:thin;
}